<h1>すべての記事一覧</h1>
<p>
    <%= link_to "記事を新規作成する", new_article_path%>
</p>
<table>
    <tr>
        <th>タイトル</th>
        <th>説明</th>
    </tr>
    
    <% @articles.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to '編集', edit_article_path(article) %></td>
        <td><%= link_to '詳細', article_path(article) %></td>
        <!--  削除を行う場合methodと削除していいか確認を追加する -->
        <td><%= link_to '削除', article_path(article), method: :delete, data: { confirm: "削除しますか？" } %></td>
    </tr>
    <% end %>
</table> 